<div class="page_header_default style_one ">
   <div class="parallax_cover">
      <img src="assets/legales/images/page-header-default.jpg" alt="bg_image" class="cover-parallax">
   </div>
   <div class="page_header_content">
      <div class="auto-container">
         <div class="row">
            <div class="col-md-12">
               <div class="banner_title_inner">
                  <div class="title_page">
                     Legales firma de abogados
                  </div>
               </div>
            </div>
            <div class="col-lg-12">
               <div class="breadcrumbs creote">
                  <ul class="breadcrumb m-auto">
                     <li><a (click)="global.setRoute('home')">Inicio</a> </li>
                     <li class="active">Somos Legalmente avalados</li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!----page header----->
<!--===============PAGE CONTENT==============-->
<!--===============PAGE CONTENT==============-->
<div id="content" class="site-content ">
   <!---about--->
   <section class="about-section">
      <!--===============spacing==============-->
      <div class="pd_top_90"></div>
      <!--===============spacing==============-->
      <div class="container">
         <div class="row">
            <div class="col-xl-6 col-lg-12 ">
               <div class="about_content position-relative z_99">
                  <div class="title_all_box style_one text-left  dark_color">
                     <div class="title_sections">
                        <div class="before_title">Legales firma de abogados</div>
                        <h2>Quienes somos?</h2>
                     </div>
                  </div>
                  <!--===============spacing==============-->
                  <div class="pd_bottom_15"></div>
                  <!--===============spacing==============-->
                  <!--    <div class="extra_content image_with_content dark_color">
                      <div class="simple_image">
                         <img src="assets/legales/images/cuntry-1.png" alt="img">
                         <h2> Since 1998, <br> Operating in Birmingham.</h2>
                      </div>
                   </div> -->
                  <!--===============spacing==============-->
                  <div class="pd_bottom_20"></div>
                  <!--===============spacing==============-->
                  <div class="description_box">
                     <p>Somos Legales, una firma de Abogados en Medellín. Nuestro equipo altamente capacitado lo
                        acompañará en cada etapa de su proceso legal y se encargará de resolver cualquier problema que
                        surja en el camino. Contamos con un grupo de Abogados dispuestos y preparados para brindarle el
                        mejor apoyo en su caso.</p>
                     <p>Hemos forjado la experiencia y la reputación necesarias para estar siempre a la altura. Cada
                        caso que asumimos es un desafío que encaramos con determinación para alcanzar la victoria.
                        Nuestro compromiso es velar por los intereses de nuestros clientes y mantener el prestigio de
                        nuestra firma. Ser representado por Legales garantiza el éxito rotundo. </p>
                  </div>
                  <!--===============spacing==============-->
                  <div class="pd_bottom_25"></div>
                  <!--===============spacing==============-->
                  <!--  <div class="row gutter_15px">
                      <div class="col-lg-6 col-md-12">
                         <div class="icon_box_all  style_two">
                            <div class="icon_content  icon_imgs ">
                               <div class="icon">
                                  <img src="assets/legales/images/icon-img-n-1.png" class="img-fluid svg_image"
                                     alt="icon png">
                               </div>
                               <div class="txt_content">
                                  <h3><a   rel="nofollow">Tailored Advice &amp; Support</a>
                                  </h3>
                               </div>
                            </div>
                           
                            <div class="pd_bottom_25"></div>
                           
                         </div>
                      </div>
                      <div class="col-lg-6 col-md-12">
                         <div class="icon_box_all  style_two">
                            <div class="icon_content  icon_imgs ">
                               <div class="icon">
                                  <img src="assets/legales/images/icon-img-n-1.png" class="img-fluid svg_image"
                                     alt="icon png">
                               </div>
                               <div class="txt_content">
                                  <h3><a   rel="nofollow">Flexible Company Policies</a></h3>
                               </div>
                            </div>
                         
                            <div class="pd_bottom_25"></div>
                          
                         </div>
                      </div>
                   </div>
 -->
                  <div class="theme_btn_all color_one">
                     <a (click)="global.setRoute('contact')" rel="nofollow" class="theme-btn five">Contáctanos<i
                           class="icon-right-arrow"></i></a>
                  </div>
               </div>
            </div>
            <div class="col-xl-6 col-lg-12">
               <div class="image_boxes style_two">
                  <img src="assets/legales/images/shape-1.png" class="background_image" alt="image">
                  <div class="image one">
                     <img src="assets/legales/images/about-6.png" class="img-fluid" alt="image">
                  </div>
                  <div class="image two">
                     <img src="assets/legales/images/about-7.png" class="img-fluid" alt="image">
                     <div class="video_box">
                        <a class="lightbox-image"><i class="icon-play"></i></a>
                     </div>
                  </div>
                  <div class="authour_quotes">
                     <i class="icon-quote"></i>
                     <h6>Legales</h6>
                     <p>/Firma de abogados a su servicio </p>
                  </div>
               </div>
            </div>
            <div class="tabs_all_box  tabs_all_box_start type_three">
               <div class="tab_over_all_box">
                  <div class="tabs_header clearfix">
                     <ul class="showcase_tabs_btns nav-pills nav   clearfix">
                        <li class="nav-item">
                           <a class="s_tab_btn nav-link active" data-tab="#tabtabone">
                              Misión </a>
                        </li>
                        <li class="nav-item">
                           <a class="s_tab_btn nav-link " data-tab="#tabtabtwo">
                              Visión </a>
                        </li>

                     </ul>
                  </div>
                  <div class="s_tab_wrapper">
                     <div class="s_tabs_content">
                        <div class="s_tab fade active-tab show" id="tabtabone">
                           <div class="tab_content one">
                              <div class="content_bx">
                                 <p>
                                    Nuestra ejercicio profesional y personal se orienta a ofrecer servicios legales de
                                    calidad,
                                    basados en la ética y respaldados por nuestra experiencia y formación académica. Nos
                                    comprometemos a establecer una relación amigable y profesional con nuestros
                                    clientes,
                                    enfocándonos en el éxito de sus negocios como parte fundamental de nuestra labor.

                                 </p>
                              </div>
                           </div>
                        </div>
                        <div class="s_tab fade " id="tabtabtwo">
                           <div class="tab_content one">
                              <div class="content_bx">
                                 <p>Nuestro visión es convertirnos en una firma altamente confiable y establecer
                                    relaciones
                                    sólidas con nuestros clientes. Buscamos asegurar el éxito de sus negocios, brindando
                                    asesoramiento basado en principios de excelencia, rectitud y ética. Con estos
                                    valores
                                    fundamentales, establecemos las bases y los pilares para el crecimiento continuo de
                                    nuestra
                                    firma y el de las empresas que asesoramos.
                                 </p>
                              </div>
                           </div>
                        </div>

                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--===============spacing==============-->
      <div class="pd_bottom_70"></div>
      <!--===============spacing==============-->
   </section>
   <!---about end--->
   <!---service--->
   <section class="service-icon-section bg_light_1">
      <!--===============spacing==============-->
      <div class="pd_top_90"></div>
      <!--===============spacing==============-->

      <div class="container">
         <div class="row">
            <div class="col-lg-12">
               <div class="title_all_box style_one text-center dark_color">
                  <div class="title_sections">
                     <div class="before_title">Our Business</div>
                     <h2 class="title">Stand Out From The Rest</h2>
                  </div>
                  <!--===============spacing==============-->
                  <div class="pd_bottom_20"></div>
                  <!--===============spacing==============-->
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12">
               <div class="simple_image_boxes parallax_cover height_264px">
                  <img src="assets/legales/images/icon-img-ab-1.jpg" class="simp_img cover-parallax" alt="image">
               </div>
               <!--===============spacing==============-->
               <div class="pd_bottom_20"></div>
               <!--===============spacing==============-->
               <div class="icon_box_all style_three">
                  <div class="icon_content ">
                     <div class="icon">
                        <span class=" icon-bow-and-arrow"></span>
                     </div>
                     <div class="txt_content">
                        <h3><a  rel="nofollow">Our Mission</a></h3>
                        <p>Equal blame belongs to those who fail in their duty through weakness of will which
                           the same as saying.</p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 mt-4 mt-lg-0 mt-xl-0">
               <div class="icon_box_all style_three">
                  <div class="icon_content ">
                     <div class="icon">
                        <span class=" icon-growth"></span>
                     </div>
                     <div class="txt_content">
                        <h3><a  rel="nofollow">Our Core Values</a></h3>
                        <p>Equal blame belongs to those who fail in their duty through weakness of will which
                           the same as saying.</p>
                        <ul>
                           <li>Integrity</li>
                           <li>Commitment to excellence</li>
                           <li>Consumer focus</li>
                           <li>Accountability</li>
                           <li>Inclusiveness</li>
                        </ul>
                        <div class="btn_left">
                           <a  rel="nofollow" class="theme-btn one">Read More</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 mt-4 mt-lg-4 mt-xl-0">
               <div class="icon_box_all style_three">
                  <div class="icon_content ">
                     <div class="icon">
                        <span class=" icon-binoculars"></span>
                     </div>
                     <div class="txt_content">
                        <h3><a  rel="nofollow">Our Vision</a></h3>
                        <p>Equal blame belongs to those who fail in their duty through weakness of will which
                           the same as saying.</p>
                     </div>
                  </div>
               </div>
               <!--===============spacing==============-->
               <div class="pd_bottom_20"></div>
               <!--===============spacing==============-->
               <div class="simple_image_boxes  height_264px">
                  <img src="assets/legales/images/icon-img-ab-1.jpg" class="simp_img img-fluid" alt="image">
               </div>
            </div>
         </div>
      </div>
      <!--===============spacing==============-->
      <div class="pd_top_90"></div>
      <!--===============spacing==============-->
   </section>
   <!---service end--->
   <section class="process-section">
      <!--===============spacing==============-->
      <div class="pd_top_80"></div>
      <!--===============spacing==============-->
      <div class="container">
         <div class="row">
            <div class="col-lg-12">
               <div class="title_all_box style_three text-center dark_color">
                  <div class="title_sections three">
                     <div class="before_title">Nos representa la seriedad, a ustedes lo represetamos nosotros</div>
                     <h2>¿Porque elegirnos?</h2>

                  </div>
                  <!--===============spacing==============-->
                  <div class="pd_bottom_25"></div>
                  <!--===============spacing==============-->
               </div>
            </div>
         </div>
         <div class="row align-items-center">
            <div class="col-lg-4 col-md-12 col-sm-12 mb-sm-5 mb-md-5 mb-lg-0 mb-xl-0">
               <div class="process_box style_three dark_color">
                  <div class="process_box_outer_three left">
                     <div class="icon">
                        <div class="img">
                           <img src="assets/legales/images/service-ico-3.png" class="img-fluid svg_image"
                              alt="icon png">
                        </div>
                     </div>
                     <div class="content_box">
                        <h2><a  rel="nofollow">Competitividad</a></h2>
                        <p> Hemos resuelto los procesos de Alcholemia-Penal mas complejos de la ciudad de Medellin. <br>
                           Nuestros Abogados tienen más de 10 años de experiencia legal colectiva.
                        </p>
                     </div>
                     <div class="number">
                        <h6>01</h6>
                     </div>
                  </div>
               </div>
               <!--===============spacing==============-->
               <div class="pd_top_30"></div>
               <!--===============spacing==============-->
               <div class="divider_1"></div>
               <!--===============spacing==============-->
               <div class="pd_bottom_40"></div>
               <!--===============spacing==============-->
               <div class="process_box style_three dark_color">
                  <div class="process_box_outer_three left">
                     <div class="icon">
                        <div class="img">
                           <img src="assets/legales/images/process-icon-im-1.png" class="img-fluid svg_image"
                              alt="icon png">
                        </div>
                     </div>
                     <div class="content_box">
                        <h2> <a  rel="nofollow">
                              Efeciencia </a>
                        </h2>
                        <p>Somos ex Abogados de la defensoria publica, tenemos la misma e inclus mejor talla que
                           cualquier fiscal. Nuestro equipo legal se ocupará de su caso de la A hasta la Z.
                        </p>
                     </div>
                     <div class="number">
                        <h6> 02</h6>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 mb-sm-5 mb-md-5 mb-lg-0 mb-xl-0">
               <div class="image_boxes style_three  border_yes ">
                  <img src="assets/legales/images/video-box-img-1.jpg" class="background_image" alt="image">
                  <div class="video_box">
                     <a href="https://www.youtube.com/embed/-VK0axfge4A" class="lightbox-image"><i
                           class="icon-play"></i></a>
                  </div>
               </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
               <div class="process_box style_three dark_color">
                  <div class="process_box_outer_three right">
                     <div class="icon">
                        <div class="img">
                           <img src="assets/legales/images/service-ico-2.png" class="img-fluid svg_image"
                              alt="icon png">
                        </div>
                     </div>
                     <div class="content_box">
                        <h2><a  rel="nofollow">Etica profesional</a></h2>
                        <p> Nunca pagara una tarifa excesiva, tenemos cobertura nacional, Medellin / Bogota, atención
                           exclusiva en nuestras especialidades.
                        </p>
                     </div>
                     <div class="number">
                        <h6>03</h6>
                     </div>
                  </div>
               </div>
               <!--===============spacing==============-->
               <div class="pd_top_30"></div>
               <!--===============spacing==============-->
               <div class="divider_1"></div>
               <!--===============spacing==============-->
               <div class="pd_bottom_40"></div>
               <!--===============spacing==============-->
               <div class="process_box style_three dark_color">
                  <div class="process_box_outer_three right">
                     <div class="icon">
                        <div class="img">
                           <img src="assets/legales/images/process-icon-im-2.png" class="img-fluid svg_image"
                              alt="icon png">
                        </div>
                     </div>
                     <div class="content_box">
                        <h2><a  rel="nofollow">Screening & Shortlisting</a></h2>
                        <p>Professional checks as well as a local records reference check</p>
                     </div>
                     <div class="number">
                        <h6>04</h6>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--===============spacing==============-->
      <div class="pd_bottom_75"></div>
      <!--===============spacing==============-->
   </section>
    
   <!---team--->
   <section class="team bg_light_1">
      <!--===============spacing==============-->
      <div class="pd_top_80"></div>
      <!--===============spacing==============-->
      <div class="container">
         <div class="row align-items-end">
            <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-xs-12">
               <div class="title_all_box style_one  dark_color">
                  <div class="title_sections">
                     <div class="before_title">Equipo Especializado</div>
                     <h2>Profesionales Expertos</h2>
                  </div>
               </div>
            </div>
            <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-xs-12">
               <div class="description_box">
                  <p>Nuestro equipo de abogados en Legales está compuesto por profesionales expertos en diversas áreas
                     del derecho, incluyendo alcoholemia, derecho civil, penal e inmobiliario. Nos comprometemos a
                     brindarte asesoramiento legal sólido y defensa integral en cada caso que enfrentes. Con nosotros,
                     puedes confiar en que recibirás un servicio de la más alta calidad para proteger tus derechos y
                     defender tus intereses.</p>
                  <!--===============spacing==============-->
                  <div class="mr_bottom_20"></div>
                  <!--===============spacing==============-->
               </div>
            </div>

            <!--===============spacing==============-->
            <div class="mr_bottom_30"></div>
            <!--===============spacing==============-->
         </div>
         <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
               <div class="team_box style_one">
                  <div class="team_box_outer">
                     <div class="member_image">
                        <img src="assets/legales/images/team/team-01.jpg" alt="team image" />
                     </div>
                     <div class="about_member">

                        <div class="authour_details">
                           <span>Julián Nieto </span>
                           <h6>Abogado Derecho Civil</h6>
                           <div class="button_view">
                              <a rel="nofollow" class="theme-btn one"> Abogado Derecho Civil
                              </a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!--===============spacing==============-->
               <div class="mr_bottom_30"></div>
               <!--===============spacing==============-->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
               <div class="team_box style_one">
                  <div class="team_box_outer">
                     <div class="member_image">
                        <img src="assets/legales/images/team/team-02.jpg" alt="team image" />
                     </div>
                     <div class="about_member">
                        <!-- <div class="share_media">
                           <ul class="first">
                              <li class="text">Share</li>
                              <li><i class="fa fa-share-alt"></i></li>
                           </ul>
                           <ul>
                              <li class="shar_alt"><i class="fa fa-share-alt"></i></li>
                              <li><a > <i class="fa fa-facebook"> </i> </a></li>
                              <li><a > <i class="fa fa-twitter"> </i> </a></li>
                              <li><a > <i class="fa fa-skype"> </i> </a></li>
                              <li><a > <i class="fa fa-instagram"> </i> </a></li>
                           </ul>
                        </div> -->
                        <div class="authour_details">
                           <span>Christian Torres </span>
                           <h6>Abogado Derecho Penal</h6>
                           <div class="button_view">
                              <a rel="nofollow" class="theme-btn one">Abogado Derecho Penal
                              </a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!--===============spacing==============-->
               <div class="mr_bottom_30"></div>
               <!--===============spacing==============-->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
               <div class="team_box style_one">
                  <div class="team_box_outer">
                     <div class="member_image">
                        <img src="assets/legales/images/team/team-06.jpg" alt="team image" />
                     </div>
                     <div class="about_member">

                        <div class="authour_details">
                           <span>Juan D Bastidas </span>
                           <h6>Abogado CEO</h6>
                           <div class="button_view">
                              <a rel="nofollow" class="theme-btn one"> Abogado CEO
                              </a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!--===============spacing==============-->
               <div class="mr_bottom_30"></div>
               <!--===============spacing==============-->
            </div>
         </div>
      </div>
      <!--===============spacing==============-->
      <div class="pd_bottom_60"></div>
      <!--===============spacing==============-->
   </section>
   <!---team-end--->

</div>