<div class="header_area" id="header_contents">
   
     <header class="header header_default style_one get_sticky_header">
        <div class="auto-container">
           <div class="row align-items-center">
              <div class="col-lg-2 col-md-9 col-sm-6 col-xs-6 logo_column">
                 <div class="header_logo_box">
                    <a (click)="global.setRoute('home')"  class="logo navbar-brand">
                       <img src="assets/legales/images/logo-default.png" alt="Creote Elementor" class="logo_default">
                       <img src="assets/legales/images/logo-default.png" alt="Creote Elementor" class="logo__sticky">
                    </a>
                 </div>
              </div>
              
              <div class="col-lg-10 col-md-3 col-sm-6 col-xs-6 menu_column">
               <div class="header_right_content_mobile"> 
                  <button type="button" style="border: none;">
                    <a href="https://app.legales.com.co">Aplicación Garante
                      <i class="icon-checked"></i>
                    </a>
                  </button>              
                </div>
                 <div class="navbar_togglers hamburger_menu">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                 </div>
                 <div class="header_content_collapse">
                    <div class="header_menu_box">
                       <div class="navigation_menu">
                          <ul id="myNavbar" class="navbar_nav">
                             <li
                                class="menu-item  position-static nav-item">
                                <a (click)="global.setRoute('home')"  class="dropdown-toggle nav-link">
                                   <span>Inicio</span>
                                </a>
                                
                             </li>
                             <li class="menu-item menu-item-has-children dropdown nav-item">
                                <a class="dropdown-toggle nav-link">
                                   <span>Nosotros</span>
                                </a>
                                <ul class="dropdown-menu">
                                   <li class="menu-item  nav-item">
                                      <a (click)="global.setRoute('about')" class="dropdown-item nav-link">
                                         <span>Quienes somos</span>
                                      </a>
                                   </li>
                                   <li class="menu-item menu-item-has-children dropdown nav-item">
                                      <a href="https://aplicaciongarente.legales.com.co" target="_blank"
                                         class="dropdown-item nav-link"><span>Aplicación Garante</span></a>
                                      
                                   </li>
                                   
                                </ul>
                             </li>
                             <li class="menu-item menu-item-has-children  dropdown_full position-static mega_menu nav-item">
                               <a (click)="global.setRoute('service')" class="dropdown-toggle nav-link"><span>Especialidades</span></a>
                               <ul class="dropdown-menu width_60_percentage">
                                   <li>
                                       <div class="row">
                                         
                                           <div class="col-lg-3 m_column">
                                               <a (click)="global.setRoute('serv-penal')"><h5>Derecho penal</h5></a>
                                               
                                           </div>
                                           <div class="col-lg-3 m_column">
                                              <a (click)="global.setRoute('serv-civil')"><h5>Derecho civil</h5></a>
                                               
                                           </div>
                                           <div class="col-lg-3 m_column">
                                              <a (click)="global.setRoute('serv-inmo')"><h5>Derecho inmobiliario y urbanístico</h5></a>
                                               
                                           </div>
                                           <div class="col-lg-3 m_column">
                                              <a (click)="global.setRoute('serv-adu-ext')"> <h5>Derecho Aduanero, Cambiario y Comercio Exterior</h5></a>
                                               
                                           </div>
                                           <div class="col-lg-3 m_column">
                                              <a (click)="global.setRoute('serv-casa-cobranza')"><h5>Casa de Cobranza</h5></a>
                                              <div class="list_item_box style_one">
                                                  <ul>
                                                      <li>Recuperación de Cartera</li>
                                                      <li>Gestión de Cartera Pre jurídica</li>
                                                  </ul>
                                              </div>
                                           </div>
                                           <div class="col-lg-3 m_column">
                                             <a (click)="global.setRoute('serv-emp')"> <h5>Derecho de los Negocios y de la Empresa</h5></a>
                                              <div class="list_item_box style_one">
                                                  <ul>
                                                      <li>Derecho societario y manejo corporativo</li>
                                                      <li>Fusiones y adquisiciones</li>
                                                      <li>Asuntos Regulatorios y Sanitarios INVIMA</li>
                                                      <li>Competencia desleal</li>
                                                  </ul>
                                              </div>
                                          </div>
                                          <div class="col-lg-3 m_column">
                                             <a (click)="global.setRoute('serv-pro-int')"><h5>Propiedad Intelectual</h5></a>
                                              <div class="list_item_box style_one">
                                                  <ul>
                                                      <li>Registro de Patentes</li>
                                                      <li>Registros de Marca</li>
                                                  </ul>
                                              </div>
                                          </div>
                                       </div>
                                   </li>
                               </ul>
                           </li>
                           
                             <li class="menu-item nav-item">
                                <a (click)="global.setRoute('blog')" class=" nav-link">
                                   <span>Blog</span>
                                </a>
                               
                             </li>
                          </ul>
                       </div>
                       
                    </div>
                   
                    <div class="header_right_content">
                       <ul>
                         <li class="header-button">
                             <a href="https://app.legales.com.co" rel="" class="theme-btn one"> Aplicación servicio de garente </a>
                          </li>
                          <li>
                             <button type="button" class="contact-toggler"> <i class="icon-bar"></i></button>
                          </li>
                          
                       </ul>
                      
                       
                    </div>
                    
                 </div>
              </div>
           </div>
        </div>
       
     </header>
  </div>
