.header_right_content_mobile {
    display: none;
    
  }
  
  @media (max-width: 767px) {
    .header_right_content_mobile {
      display: flex;
      align-items: center;
      position: relative;
      width: auto;
      height: auto;
      right: 55px;
      line-height: 40px;
/*       border-radius: 50%;
 */      /* border: 1px solid var(--border-color-dark); */
      transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      background: #fff;
      box-shadow: 0px 0px 0px 0px;
    /*   padding: 0 10px; */
/*       white-space: nowrap;
 */
    }
  }
 