
<div id="wrapper_full" class="content_all_warpper">
       
    <div id="content" class="site-content">
       <!---slider-->
       <section class="slider style_four nav_position_one">
          <div class="owl-carousel owl_nav_block owl_dots_none theme_carousel owl-theme"
             data-options='{"loop": true, "margin": 0, "autoheight":true, "lazyload":true, "nav": true, "dots": true, "autoplay": true, "autoplayTimeout": 7000, "smartSpeed": 1800, "responsive":{ "0" :{ "items": "1" }, "768" :{ "items" : "1" } , "1000":{ "items" : "1" }}}'>
 
             <div class="slide-item-content">
                <div class="slide-item content_left">
                   <div class="image-layer" style="background-image:url(assets/legales/images/sliders/slider-1-1.jpg)">
                   </div>
                   <div class="auto-container">
                      <div class="row">
                         <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                             <div class="slider_content pd_top_180 pd_bottom_200">
                                 <h6 class="animate_up d-inline-block">LEGALES Firma de Abogados</h6>
                                 <h1 class="animate_left">Especialistas en derecho Empresarial, Inmobiliario, Civil, Penal</h1>
                                 <p class="description animate_right"> Nos representa la seriedad, a ustedes, los representamos nosotros. </p>
                                 <div class="button_all animate_down">
                                    <a href="#" target="_blank" rel="nofollow" class="theme-btn one animated">¡Consulta tu abogado hoy!</a>
                                 </div>
                              </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
             <div class="slide-item-content">
                <div class="slide-item content_center">
                   <div class="image-layer" style="background-image:url(assets/legales/images/sliders/slider-1-2.jpg)">
                   </div>
                   <div class="auto-container">
                      <div class="row">
                         <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                             <div class="slider_content pd_top_180 pd_bottom_200">
                                <h6 class="animate_up d-inline-block">Legales: Firma de Abogados en Medellín</h6>
                                <h1 class="animate_left">Representamos la Seriedad</h1>
                                <p class="description animate_right">Legales es una firma de abogados ubicada en Medellín. Nos especializamos en brindar representación legal sólida y confiable en una variedad de casos legales. Nuestra prioridad es defender sus derechos y luchar por sus intereses con profesionalismo y dedicación.</p>
                                <div class="button_all animate_down">
                                   <a href="#" target="_blank" rel="nofollow" class="theme-btn one animated">Leer Más</a>
                                </div>
                             </div>
                          </div>
                          
                      </div>
                   </div>
                </div>
             </div>
            
          </div>
       </section>
       <!---slider-end--->
       <!---about us-->
       <section class="about_us_section" id="about">
          <!--===============spacing==============-->
          <div class="pd_top_100"></div>
          <!--===============spacing==============-->
          <div class="container pd_zero">
             <div class="row">
                <div class="col-xl-6 col-lg-12">
                   <div class="title_all_box style_one dark_color">
                     <div class="title_sections left">
                         <div class="before_title">LEGADOS | POLÍTICA DE CALIDAD</div>
                         <h2>Sobre Nosotros</h2>
                         <p>Bienvenido/a a LEGALES firma de abogados especializados en derecho penal, civil, inmobiliario y urbanistico, derecho de los negocios y de las empresas, contratos, derecho aduanero, cambiario y comercio exterior. La disciplina, responsabilidad y compromiso en cada servicio jurídico prestado, así como el engranaje de nuestros procesos legales y su mejora continua, son la mayor garantía de satisfacción de nuestros clientes en los procesos liderados. Sin duda, el capacitado y talentoso capital humano de LEGALES, son el motor de nuestro éxito.</p>
                        </div>
                      
                   </div>
                   <!--===============spacing==============-->
                   <div class="pd_bottom_20"></div>
                   <!--===============spacing==============-->
                   <div class="process_box style_one dark_color">
                     <div class="process_box_outer">
                        <div class="icon">
                           <span class="icon-line-chart"></span>
                           <div class="number">01</div>
                        </div>
                        <div class="content_box">
                           <h2><a href="#" target="_blank" rel="nofollow">Especialización</a></h2>
                           <p>En LEGALES nos especializamos en áreas específicas del derecho, lo que nos permite brindar un servicio altamente especializado y enfocado en las necesidades individuales de cada cliente.</p>
                        </div>
                     </div>
                  </div>
                  <div class="process_box style_one dark_color">
                     <div class="process_box_outer">
                        <div class="icon">
                           <span class="icon-line-chart"></span>
                           <div class="number">02</div>
                        </div>
                        <div class="content_box">
                           <h2><a href="#" target="_blank" rel="nofollow">Compromiso</a></h2>
                           <p>En LEGALES estamos comprometidos con nuestros clientes y su satisfacción. Nos esforzamos por superar sus expectativas y garantizar que reciban el mejor asesoramiento legal y representación posible en cada caso.</p>
                        </div>
                     </div>
                  </div>
                  
                   <!--===============spacing==============-->
                   <div class="pd_bottom_30"></div>
                   <!--===============spacing==============-->
                   <div class="signature_wrapper">
                      <div class="row gutter_15px">
                         <div class="col-lg-8 col-md-12">
                            <div class="theme_btn_all color_one">
                               <a href="#" target="_blank" rel="nofollow" class="theme-btn two">Más de la firma</a>
                            </div>
                         </div>
                      </div>
                   </div>
                   <!--===============spacing==============-->
                   <div class="pd_bottom_30"></div>
                   <!--===============spacing==============-->
                   
                   <!--===============spacing==============-->
                   <div class="pd_bottom_30"></div>
                   <!--===============spacing==============-->
                </div>
                <div class="col-xl-6 col-lg-12">
 
                   <div class="service_wrapper">
                      <div class="move_image_absolute">
                         <img src="assets/legales/images/about/about-1-1.png" class="class-fluid" alt="image" />
                      </div>
                      <div class="row">
                         <!-- <div class="col-lg-6 col-md-6">
                            <div class="service_box style_one dark_color">
                               <div class="service_content">
                                  <div class="image ">
                                     <img src="assets/legales/images/service-illu-1.png" class="img-fluid"
                                        alt="Service Image" />
                                  </div>
                                  <div class="content_inner">
                                     <h2>
                                        <a href="#"> Innovative HR Solutions </a>
                                     </h2>
                                     <p> Except too obtain some work advantages from it but whom has any rights.
                                     </p>
                                     <a href="#" class="read_more"> Read more </a>
                                  </div>
                               </div>
                            </div>
                         </div> -->
                         <!-- <div class="col-lg-6 col-md-6">
                            
                            <div class="pd_top_100"></div>
                            <div class="pd_top_100 d_md_none"></div>
                            
                            <div class="service_box style_one dark_color last">
                               <div class="service_content">
                                  <div class="image ">
                                     <img src="assets/legales/images/service-illu-1.png" class="img-fluid"
                                        alt="Service Image" />
                                  </div>
                                  <div class="content_inner">
                                     <h2>
                                        <a href="#"> Leadership Development </a>
                                     </h2>
                                     <p> Actual teachings of the great explorer of the truth masters human
                                        happiness.
                                     </p>
                                     <a href="#" class="read_more"> Read more </a>
                                  </div>
                               </div>
                            </div>
                         </div> -->
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <!--===============spacing==============-->
          <div class="pd_bottom_80"></div>
          <!--===============spacing==============-->
       </section>
       <!---about us end-->
       <!---service--->
       <section class="service_section bg_light_1" id="service">
         <!--===============spacing==============-->
         <div class="pd_top_80"></div>
         <!--===============spacing==============-->
         <div class="container">
             <div class="row">
                 <div class="title_all_box style_one text-center dark_color">
                     <div class="title_sections">
                         <h2>Servicios</h2>
                         <p>Somos expertos en derecho penal, derecho civil, derecho empresarial, inmobiliario y urbanístico.</p>
                     </div>
                 </div>
                 <!--===============spacing==============-->
                 <div class="pd_bottom_20"></div>
                 <!--===============spacing==============-->
                 <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                     <div class="service_box style_two dark_color">
                         <div class="service_content_two ">
                             <div class="content_inner"
                                 style="background-image:url(assets/legales/images/service/service-image-1.png);">
                                 <div class="content_inner_in">
                                     <div class="icon_image">
                                         <img src="assets/legales/images/010-job-search.png" class="img-fluid"
                                             alt="Service Image" />
                                     </div>
                                     <h2>
                                         <a href="#">Derecho de los Negocios y de la Empresa</a>
                                     </h2>
                                     <p>Ofrecemos asesoría legal que van desde la constitución de entidades o empresas hasta el cierre de sus operaciones. </p>
                                 </div>
                             </div>
                             <div class="ovarlay_link">
                                 <a href="#">
                                     <i class="icon-right-arrow"></i>
                                 </a>
                             </div>
                             <div class="overlay_content">
                                 <h2>
                                     <a href="#">Derecho de los negocios y de la empresa</a>
                                 </h2>
                                 <p>Propiedad intelectual <br> Registro de marca <br> Registro de patentes</p>
                             </div>
                         </div>
                     </div>
                     <!--===============spacing==============-->
                     <div class="mr_bottom_20"></div>
                     <!--===============spacing==============-->
                 </div>
                 <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                     <div class="service_box style_two dark_color">
                         <div class="service_content_two  active_ser">
                             <div class="content_inner"
                                 style="background-image:url(assets/legales/images/service/service-image-2.png);">
                                 <div class="content_inner_in">
                                     <div class="icon_image">
                                         <img src="assets/legales/images/service-ico-1.png" class="img-fluid"
                                             alt="Service Image" />
                                     </div>
                                     <h2>
                                         <a href="#">Derecho Civil e Inmobiliario</a>
                                     </h2>
                                     <p>Brindamos asesoría integral en derecho civil e inmobiliario, tanto judicial como
                                         extrajudicialmente.</p>
                                 </div>
                             </div>
                             <div class="ovarlay_link">
                                 <a href="#">
                                     <i class="icon-right-arrow"></i>
                                 </a>
                             </div>
                             <div class="overlay_content">
                                 <h2>
                                     <a href="#">Derecho Civil e Inmobiliario</a>
                                 </h2>
                                 <p>Brindamos asesoría integral en derecho civil e inmobiliario, tanto judicial como
                                     extrajudicialmente.</p>
                             </div>
                         </div>
                     </div>
                     <!--===============spacing==============-->
                     <div class="mr_bottom_20"></div>
                     <!--===============spacing==============-->
                 </div>
                 <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                     <div class="service_box style_two dark_color">
                         <div class="service_content_two ">
                             <div class="content_inner"
                                 style="background-image:url(assets/legales/images/service/service-image-3.png);">
                                 <div class="content_inner_in">
                                     <div class="icon_image">
                                         <img src="assets/legales/images/service-ico-2.png" class="img-fluid"
                                             alt="Service Image" />
                                     </div>
                                     <h2>
                                         <a href="#">Derecho Penal - Corporativo</a>
                                     </h2>
                                     <p>Ofrecemos defensas y asesorías penales complejas a nivel nacional, reconocidas por
                                       nuestro compromiso y formación académica.</p>
                                    </div>
                             </div>
                             <div class="ovarlay_link">
                                 <a href="#">
                                     <i class="icon-right-arrow"></i>
                                 </a>
                             </div>
                             <div class="overlay_content">
                                 <h2>
                                     <a href="#">Derecho Penal - Corporativo</a>
                                 </h2>
                                 <p>Aplica para casos como los siguientes: 
                                    <li>Fraude corporativo</li>
                                    <li>Competencia desleal</li>
                                    <li>Asuntos regulatorio </li>
                                 </p>
                             </div>
                         </div>
                     </div>
                     <!--===============spacing==============-->
                     <div class="mr_bottom_20"></div>
                     <!--===============spacing==============-->
                 </div>
             </div>
         </div>
         <!--===============spacing==============-->
         <div class="pd_bottom_70"></div>
         <!--===============spacing==============-->
     </section>
     
       <!---service end-->
       <!---expertise--->
       <section class="expertise">
         <div class="area_of_expertise">
             <div class="simpleParallax">
                 <img src="assets/legales/images/areaof-ecp-1.jpg" class="cover-parallax" alt="image">
             </div>
             <div class="title_and_video">
                 <div class="auto-container">
                     <div class="row">
                         <div class="col-lg-4">
                             <div class="video_box text-center">
                                 <a href="https://www.youtube.com/embed/-VK0axfge4A" class="lightbox-image"><i
                                         class="icon-play"></i></a>
                             </div>
                         </div>
                         <div class="col-lg-2"></div>
                         <div class="col-lg-6">
                             <div class="title_all_box style_one text-end">
                                 <div class="title_sections">
                                     <h2>Experiencia Legal</h2>
                                     <p>Somos Legales, una firma de abogados comprometida con brindar defensas sólidas y asesoramiento legal experto. Nuestra experiencia en casos de empresariales, aduanero y comercio exterior nos permite ofrecer asesoramiento y defensa integral a nuestros clientes.</p>
                                 </div>
                                 <div class="theme_btn">
                                     <a  class="theme-btn one">Conozca más</a>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
             <div class="expertise">
                 <div class="auto-container">
                     <div class="row">
                         <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 expertise_box">
                             <div class="step_number">
                                 <h1>01.</h1>
                             </div>
                             <h2 class="title"><a >Asuntos Regulatorios y Sanitarios INVIMA </a>
                             </h2>
                         </div>
                         <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 expertise_box">
                             <div class="step_number">
                                 <h1>02.</h1>
                             </div>
                             <h2 class="title">
                                 <a> Contratos simples, complejos y especializados</a>
                             </h2>
                         </div>
                         <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 expertise_box">
                             <div class="step_number">
                                 <h1>03.</h1>
                             </div>
                             <h2 class="title">
                                 <a>Derecho Aduanero, Cambiario y Comercio Exterior</a>
                             </h2>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </section>
     
     
       <!---expertise-end--->
       <!---team--->
       <section class="team bg_light_1">
          <!--===============spacing==============-->
          <div class="pd_top_80"></div>
          <!--===============spacing==============-->
          <div class="container">
             <div class="row align-items-end">
               <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="title_all_box style_one  dark_color">
                      <div class="title_sections">
                          <div class="before_title">Equipo Especializado</div>
                          <h2>Profesionales Expertos</h2>
                      </div>
                  </div>
              </div>
              <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="description_box">
                      <p>Nuestro equipo de abogados en Legales está compuesto por profesionales expertos en diversas áreas del derecho, incluyendo alcoholemia, derecho civil, penal e inmobiliario. Nos comprometemos a brindarte asesoramiento legal sólido y defensa integral en cada caso que enfrentes. Con nosotros, puedes confiar en que recibirás un servicio de la más alta calidad para proteger tus derechos y defender tus intereses.</p>
                      <!--===============spacing==============-->
                      <div class="mr_bottom_20"></div>
                      <!--===============spacing==============-->
                  </div>
              </div>
              
                <!--===============spacing==============-->
                <div class="mr_bottom_30"></div>
                <!--===============spacing==============-->
             </div>
             <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                   <div class="team_box style_one">
                      <div class="team_box_outer">
                         <div class="member_image">
                            <img src="assets/legales/images/team/team-1.jpg" alt="team image" />
                         </div>
                         <div class="about_member">
                            
                            <div class="authour_details">
                               <span>Julián Nieto </span>
                               <h6>Abogado Derecho Civil</h6>
                               <div class="button_view">
                                  <a  target="_blank" rel="nofollow" class="theme-btn one"> Abogado Derecho Civil
                                  </a>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                   <!--===============spacing==============-->
                   <div class="mr_bottom_30"></div>
                   <!--===============spacing==============-->
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                   <div class="team_box style_one">
                      <div class="team_box_outer">
                         <div class="member_image">
                            <img src="assets/legales/images/team/team-2.jpg" alt="team image" />
                         </div>
                         <div class="about_member">
                            <!-- <div class="share_media">
                               <ul class="first">
                                  <li class="text">Share</li>
                                  <li><i class="fa fa-share-alt"></i></li>
                               </ul>
                               <ul>
                                  <li class="shar_alt"><i class="fa fa-share-alt"></i></li>
                                  <li><a href="#"> <i class="fa fa-facebook"> </i> </a></li>
                                  <li><a href="#"> <i class="fa fa-twitter"> </i> </a></li>
                                  <li><a href="#"> <i class="fa fa-skype"> </i> </a></li>
                                  <li><a href="#"> <i class="fa fa-instagram"> </i> </a></li>
                               </ul>
                            </div> -->
                            <div class="authour_details">
                               <span>Christian Torres </span>
                               <h6>Abogado Derecho Penal</h6>
                               <div class="button_view">
                                  <a  target="_blank" rel="nofollow" class="theme-btn one">Abogado Derecho Penal
                                  </a>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                   <!--===============spacing==============-->
                   <div class="mr_bottom_30"></div>
                   <!--===============spacing==============-->
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                   <div class="team_box style_one">
                      <div class="team_box_outer">
                         <div class="member_image">
                            <img src="assets/legales/images/team/team-3.png" alt="team image" />
                         </div>
                         <div class="about_member">
                            
                            <div class="authour_details">
                               <span>Juan D Bastidas </span>
                               <h6>Abogado CEO</h6>
                               <div class="button_view">
                                  <a target="_blank" rel="nofollow" class="theme-btn one"> Abogado CEO
                                  </a>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                   <!--===============spacing==============-->
                   <div class="mr_bottom_30"></div>
                   <!--===============spacing==============-->
                </div>
             </div>
          </div>
          <!--===============spacing==============-->
          <div class="pd_bottom_60"></div>
          <!--===============spacing==============-->
       </section>
       <!---team-end--->
       
       <!---testimonial--->
       <section class="testimonial bg_op_1" style="background-image: url(assets/legales/images/testimonialbg.jpg);">
          <div class="row align-items-center">
             <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-12 pd_zero">
                <div class="image">
                   <img src="assets/legales/images/testi-image.jpg" class="object-fit-cover img-fluid height_560px"
                      alt="image" />
                </div>
             </div>
             <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-12 pd_zero">
                <!--===============spacing==============-->
                <div class="pd_top_70"></div>
                <!--===============spacing==============-->
                <div class="testimonial_sec_wrapper pd_left_70">
                   <div class="title_all_box style_one light_color">
                      <div class="title_sections">
                         <div class="before_title">
                            Quote About
                         </div>
                         <h2> Customers Experience</h2>
                      </div>
                      <!--===============spacing==============-->
                      <div class="mr_bottom_20"></div>
                      <!--===============spacing==============-->
                   </div>
                   <div class="testimonial_sec light_color style_one">
                      <div class="icon_quotes">
                         <i class="icon-quote"></i>
                      </div>
                      <div class="swiper-container" data-swiper='{
                         "loop": true,
                         "autoplay": {
                           "delay": 7000
                         },
                         "speed": 1000,
                         "centeredSlides": false,
                         "slidesPerView": 1,
                         "spaceBetween": 30,
                         "navigation": {
                           "nextEl": ".next-single-one",
                           "prevEl": ".prev-single-one"
                         },
                         "pagination": {
                           "el": ".number-pagination",
                           "type": "fraction"
                         },
                         "breakpoints": {
                           "1200": {
                             "slidesPerView": 1 
                           },
                           "1024": {
                             "slidesPerView": 1 
                           },
                           "768": {
                             "slidesPerView": 1 
                           },
                           "576": {
                             "slidesPerView": 1 
                           }
                         }
                       }'>
                         <div class="swiper-wrapper">
                            <div class="swiper-slide">
                               <div class="testimonial_box">
                                  <div class="rating">
                                     <ul>
                                        <li><span class="fa fa-star fill"></span><span
                                              class="fa fa-star fill"></span><span
                                              class="fa fa-star fill"></span><span
                                              class="fa fa-star fill"></span><span class="fa fa-star empty"></span>
                                        </li>
                                     </ul>
                                  </div>
                                  <div class="authour_details  image_yes ">
                                     <div class="image">
                                        <img src="assets/legales/images/testi-3.png" alt="image" />
                                     </div>
                                     <div class="details">
                                        <h2>Jacob Leonardo</h2>
                                        <span>Senior Manager of Excel Solution</span>
                                     </div>
                                  </div>
                                  <div class="comment">
                                     While running an early stage startup everything feels
                                     hard, that’s why it’s been so nice to have our accounting
                                     feel easy. We recommed Qetus.
                                  </div>
                               </div>
                            </div>
                            <div class="swiper-slide">
                               <div class="testimonial_box">
                                  <div class="rating">
                                     <ul>
                                        <li><span class="fa fa-star fill"></span><span
                                              class="fa fa-star fill"></span><span
                                              class="fa fa-star fill"></span><span
                                              class="fa fa-star fill"></span><span class="fa fa-star fill"></span>
                                        </li>
                                     </ul>
                                  </div>
                                  <div class="authour_details  image_yes ">
                                     <div class="image">
                                        <img src="assets/legales/images/testi-2.png" alt="image" />
                                     </div>
                                     <div class="details">
                                        <h2>Jacob Leonardo</h2>
                                        <span>Senior Manager of Excel Solution</span>
                                     </div>
                                  </div>
                                  <div class="comment">
                                     While running an early stage startup everything feels
                                     hard, that’s why it’s been so nice to have our accounting
                                     feel easy. We recommed Qetus.
                                  </div>
                               </div>
                            </div>
                            <div class="swiper-slide">
                               <div class="testimonial_box">
                                  <div class="rating">
                                     <ul>
                                        <li><span class="fa fa-star fill"></span><span
                                              class="fa fa-star fill"></span><span
                                              class="fa fa-star empty"></span><span
                                              class="fa fa-star empty"></span><span
                                              class="fa fa-star empty"></span></li>
                                     </ul>
                                  </div>
                                  <div class="authour_details  image_yes ">
                                     <div class="image">
                                        <img src="assets/legales/images/testi-1.png" alt="image" />
                                     </div>
                                     <div class="details">
                                        <h2>Jacob Leonardo</h2>
                                        <span>Senior Manager of Excel Solution</span>
                                     </div>
                                  </div>
                                  <div class="comment">
                                     While running an early stage startup everything feels
                                     hard, that’s why it’s been so nice to have our accounting
                                     feel easy. We recommed Qetus.
                                  </div>
                               </div>
                            </div>
 
                         </div>
                         <div class="arrows">
                            <div class="prev-single-one"></div>
                            <div class="next-single-one"></div>
                         </div>
                         <div class="num_pagination">
                            <div class="number-pagination">
 
                            </div>
                         </div>
 
                      </div>
                   </div>
                </div>
                <!--===============spacing==============-->
                <div class="pd_bottom_70"></div>
                <!--===============spacing==============-->
             </div>
             <!---empty column--->
             <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-12">
             </div>
             <!---empty column--->
          </div>
       </section>
       <!---testimonial-end--->
       <!---blog--->
       <section class="blog-post" id="blog">
          <!--===============spacing==============-->
          <div class="pd_top_80"></div>
          <!--===============spacing==============-->
          <div class="container">
             <div class="row">
                <div class="col-lg-12">
                   <div class="title_all_box style_one text-center  dark_color">
                      <div class="title_sections">
                         <div class="before_title"> Novedades y actualidad</div>
                         <h2>Legales al dia</h2>
                      </div>
                   </div>
                   <!--===============spacing==============-->
                   <div class="pd_bottom_20"></div>
                   <!--===============spacing==============-->
                </div>
 
                <section class="two_column news_wrapper_grid">
                   <div class="grid_show_case grid_layout clearfix">
                      <div class="news_box style_two grid_box _card has_images">
                         <div class="content_box">
                            <div class="overlay"> </div>
                            <img src="assets/legales/images/blog/blog-image-1.jpg" class="img-fluid" alt="img" />
                            <div class="category">
                               <a href="#" class="categories"><i class="icon-folder"></i>Compliance Audits</a>
                            </div>
                            <div class="content_mid">
                               <span class="date_in_number">Oct 06 , 2023</span>
                               <h2 class="title"><a href="blog-single.html">Outsource Accounting
                                     &#038; HR Functions</a></h2>
                            </div>
                            <div class="auhtour_box">
                               <img alt='img' class="img-fluid" src='assets/legales/images/auth-1.png' height='60'
                                  width='60' />
                               <div class="contnet_a">
                                  <p>POSTED BY</p>
                                  <h4> Evan Thomas </h4>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="news_box style_two grid_box _card has_images">
                         <div class="content_box">
                            <div class="overlay"> </div>
                            <img src="assets/legales/images//blog/blog-image-11.jpg" class="img-fluid" alt="img" />
                            <div class="category">
                               <a href="#" class="categories"><i class="icon-folder"></i>Coaching</a>
                            </div>
                            <div class="content_mid">
                               <span class="date_in_number">Oct 08 , 2023</span>
                               <h2 class="title"><a href="blog-single.html">Workplace problems in
                                     your business?</a></h2>
                            </div>
                            <div class="auhtour_box">
                               <img alt='img' class="img-fluid" src='assets/legales/images/auth-2.png' height='60'
                                  width='60' />
                               <div class="contnet_a">
                                  <p>POSTED BY</p>
                                  <h4> Roman Brayden </h4>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </section>
                <section class="four_column news_wrapper_grid">
                   <div class="grid_show_case grid_layout clearfix">
 
                      <div class="news_box style_six grid_box _card has_images">
                         <div class="content_box">
                            <div class="overlay"> </div>
                            <img width="852" height="812" src="assets/legales/images/blog/blog-image-9.jpg"
                               class="img-fluid" alt="img" />
                            <div class="category">
                               <a href="#" class="categories"><i class="icon-folder"></i>Coaching</a>
                            </div>
                            <div class="content_mid">
                               <span class="date_in_number">Oct 08 , 2023</span>
                               <h2 class="title"><a href="blog-single.html">Why Should Business
                                     Payroll Outsourcing?</a></h2>
                            </div>
                            <div class="auhtour_box">
                               <img alt='img' class="img-fluid" src='assets/legales/images/auth-2.png' height='60'
                                  width='60' />
                               <div class="contnet_a">
                                  <p>POSTED BY</p>
                                  <h4> Evan Thomas </h4>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="news_box style_six grid_box _card has_images">
                         <div class="content_box">
                            <div class="overlay"> </div>
                            <img width="1047" height="697" src="assets/legales/images/blog/blog-image-8.jpg"
                               class="img-fluid" alt="img" />
                            <div class="category">
                               <a href="#" class="categories"><i class="icon-folder"></i>HR Consulting</a>
                            </div>
                            <div class="content_mid">
                               <span class="date_in_number">Oct 08 , 2023</span>
                               <h2 class="title"><a href="blog-single.html">Workforce Challenges
                                     &#038; Opportunities</a></h2>
                            </div>
                            <div class="auhtour_box">
                               <img alt='img' class="img-fluid" src='assets/legales/images/auth-1.png' height='60'
                                  width='60' />
                               <div class="contnet_a">
                                  <p>POSTED BY</p>
                                  <h4> Roman Brayden </h4>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="news_box style_six grid_box _card has_images">
                         <div class="content_box">
                            <div class="overlay"> </div>
                            <img width="1557" height="1038" src="assets/legales/images/blog/blog-image-7.jpg"
                               class="img-fluid" alt="img" />
                            <div class="category">
                               <a href="#" class="categories"><i class="icon-folder"></i>Compliance Audits</a>
                            </div>
                            <div class="content_mid">
                               <span class="date_in_number">Oct 08 , 2023</span>
                               <h2 class="title"><a href="blog-single.html">How to Handle Your Good
                                     Employee</a></h2>
                            </div>
                            <div class="auhtour_box">
                               <img alt='img' class="img-fluid" src='assets/legales/images/auth-2.png' height='60'
                                  width='60' />
                               <div class="contnet_a">
                                  <p>POSTED BY</p>
                                  <h4> Evan Thomas </h4>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="news_box style_six grid_box _card has_images">
                         <div class="content_box">
                            <div class="overlay"> </div>
                            <img width="593" height="396" src="assets/legales/images/blog/blog-image-6.jpg"
                               class="img-fluid" alt="img" />
                            <div class="category">
                               <a href="#" class="categories"><i class="icon-folder"></i>Coaching</a>
                            </div>
                            <div class="content_mid">
                               <span class="date_in_number">Oct 08 , 2023</span>
                               <h2 class="title"><a href="blog-single.html">Retaining Good Employees
                                     &#038; Motivated</a></h2>
                            </div>
                            <div class="auhtour_box">
                               <img alt='img' class="img-fluid" src='assets/legales/images/auth-2.png' height='60'
                                  width='60' />
                               <div class="contnet_a">
                                  <p>POSTED BY</p>
                                  <h4> Roman Brayden </h4>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </section>
             </div>
          </div>
          <!--===============spacing==============-->
          <div class="pd_bottom_70"></div>
          <!--===============spacing==============-->
       </section>
       <!---blog-end--->
       <!---newsteller--->
       <section class="newsteller style_one bg_dark_1">
          <!--===============spacing==============-->
          <div class="pd_top_40"></div>
       
          <div class="pd_bottom_40"></div>
          <!--===============spacing==============-->
       </section>
       <!---newsteller end--->
    </div>
    
 </div>
 
 
 