<div class="page_header_default style_one ">
    <div class="parallax_cover">
        <div class="simpleParallax"><img src="assets/legales/images/empresarial.jpg" alt="bg_image"
                class="cover-parallax"></div>
    </div>
    <div class="page_header_content">
        <div class="auto-container">
            <div class="row">
                <div class="col-md-12">
                    <div class="banner_title_inner">
                        <div class="title_page">
                            Legales especialistas en
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="breadcrumbs creote">
                        <ul class="breadcrumb m-auto">
                            <li><a href="">Inicio</a></li>
                            <li class="active">Propiedad Intelectual</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!----header----->
<!----page-CONTENT----->
<div id="content" class="site-content ">
    <div class="auto-container">
        <div class="row default_row">
            <div id="primary" class="content-area service col-lg-8 col-md-12 col-sm-12 col-xs-12">
                <main id="main" class="site-main" role="main">
                    <!--===============spacing==============-->
                    <div class="pd_top_85"></div>
                    <!--===============spacing==============-->
                    <article class="clearfix service type-service status-publish has-post-thumbnail hentry">
                        <div class="title_all_box style_one dark_color">
                            <div class="title_sections left">
                                <div class="before_title">Derecho de los Negocios y de la Empresa</div>
                                <h1 class="title">Propiedad intelectual</h1>
                                <p>La propiedad intelectual se refiere a las creaciones derivadas del intelecto humano
                                    en áreas de tipo industrial, científico, literario y artístico. Se divide en dos
                                    tipos: la propiedad industrial, que otorga derechos exclusivos sobre invenciones,
                                    diseños industriales y signos distintivos; y los derechos de autor, que protegen
                                    obras artísticas o literarias. En Colombia, la propiedad industrial abarca nuevas
                                    creaciones, como patentes y diseños industriales, y signos distintivos, como marcas
                                    y nombres comerciales. Los derechos de autor cubren obras literarias, artísticas,
                                    musicales, audiovisuales, software y más.
                                </p>
                                <p>Nuestra práctica se especializa en todo lo relacionado con registro de marcas,
                                    patentes, lemas comerciales, diseños industriales y el derecho de propiedad
                                    intelectual.<br>
                                    Tenemos amplia experiencia en la representación de empresas nacionales e
                                    internacionales que desean proteger sus marcas en Colombia con el respaldo de un
                                    equipo legal calificado.</p>
                            </div>
                        </div>
                        <h2 class="tituloh2">Nuestros servicios en propiedad intelectual incluyen Registros de marca, lemas comerciales y signos distintivos:</h2>
                        <!--===============spacing==============-->
                        <div class="pd_bottom_15"></div>
                        <!--===============spacing==============-->
                        
                        <div class="content_box_cn style_one">
                            <div class="txt_content">
                                <a target="_blank" rel="nofollow">Estudios de antecedentes marcarios y registrabilidad</a>
                            </div>
                            <div class="txt_content">
                                <a target="_blank" rel="nofollow">Registros de marcas figurativas, nominativas, mixtas o tridimensionales</a>
                            </div>
                            <div class="txt_content">
                                <a target="_blank" rel="nofollow">Presentación y respuestas a oposiciones</a>
                            </div>
                            <div class="txt_content">
                                <a target="_blank" rel="nofollow">Solicitud de transferencias o afectaciones</a>
                            </div>
                            <div class="txt_content">
                                <a target="_blank" rel="nofollow">Vigilancia marcaria y mantenimiento de portafolio marcario</a>
                            </div>
                            <div class="txt_content">
                                <a target="_blank" rel="nofollow">Renovación de marca / signos distintivos</a>
                            </div>
                            <div class="txt_content">
                                <a target="_blank" rel="nofollow">Declaratorias de notoriedad</a>
                            </div>
                            <div class="txt_content">
                                <a target="_blank" rel="nofollow">Desistimientos</a>
                            </div>
                        </div>
                        
                        <!--===============spacing==============-->
                        <div class="pd_bottom_15"></div>
                        <!--===============spacing==============-->
                        
                        <h2 class="tituloh2">Litigios de propiedad intelectual:</h2>
                        <div class="content_box_cn style_one">
                            <div class="txt_content">
                                <a target="_blank" rel="nofollow">Acciones penales por usurpación de marcas, lemas comerciales o diseños industriales</a>
                            </div>
                            <div class="txt_content">
                                <a target="_blank" rel="nofollow">Acciones de vulneración marcaria ante la autoridad nacional competente</a>
                            </div>
                            <div class="txt_content">
                                <a target="_blank" rel="nofollow">Acciones de competencia desleal por vulneración a la propiedad intelectual</a>
                            </div>
                            <div class="txt_content">
                                <a target="_blank" rel="nofollow">Acciones de nulidad ante el consejo de estado</a>
                            </div>
                            <div class="txt_content">
                                <a target="_blank" rel="nofollow">Acciones de cancelación por no uso o notoriedad</a>
                            </div>
                        </div>
                        
                        <h2 class="tituloh2">Derechos de autor:</h2>
                        <div class="content_box_cn style_one">
                            <div class="txt_content">
                                <a target="_blank" rel="nofollow">Registro de software, obras literarias y artísticas</a>
                            </div>
                            <div class="txt_content">
                                <a target="_blank" rel="nofollow">Litigios en derechos de autor en asuntos jurisdiccionales</a>
                            </div>
                            <div class="txt_content">
                                <a target="_blank" rel="nofollow">Asesoría en protección a los derechos de autor</a>
                            </div>
                            <div class="txt_content">
                                <a target="_blank" rel="nofollow">Asesoría en la estructuración de negocios que exploten derechos de autor</a>
                            </div>
                            <div class="txt_content">
                                <a target="_blank" rel="nofollow">Contratos de licencia de derechos de autor</a>
                            </div>
                            <div class="txt_content">
                                <a target="_blank" rel="nofollow">Asesoría a la industria literaria, cinematográfica, televisiva y musical</a>
                            </div>
                        </div>
                        
                        <h2 class="tituloh2">Registro de Patentes:</h2>
                        <div class="content_box_cn style_one">
                            <div class="txt_content">
                                <a target="_blank" rel="nofollow">Estudios de anterioridades y de viabilidad de la patente</a>
                            </div>
                            <div class="txt_content">
                                <a target="_blank" rel="nofollow">Solicitudes de patentes de invención o modelos de utilidad</a>
                            </div>
                            <div class="txt_content">
                                <a target="_blank" rel="nofollow">Representación en etapas del trámite de registro de patente</a>
                            </div>
                            <div class="txt_content">
                                <a target="_blank" rel="nofollow">Presentación de oposiciones o respuesta de las mismas</a>
                            </div>
                            <div class="txt_content">
                                <a target="_blank" rel="nofollow">Representación en casos de infracción a derechos sobre patentes</a>
                            </div>
                        </div>
                        
                        <h2 class="tituloh2">Consultoría en propiedad industrial, tecnologías y procedimientos:</h2>
                        <div class="content_box_cn style_one">
                            <div class="txt_content">
                                <a target="_blank" rel="nofollow">Acompañamiento para la protección del secreto empresarial de las empresas</a>
                            </div>
                            <div class="txt_content">
                                <a target="_blank" rel="nofollow">Acciones judiciales por vulneración a la confidencialidad</a>
                            </div>
                            <div class="txt_content">
                                <a target="_blank" rel="nofollow">Contratos de transferencia de tecnología</a>
                            </div>
                            <div class="txt_content">
                                <a target="_blank" rel="nofollow">Protección de desarrollos científicos o tecnológicos</a>
                            </div>
                            <div class="txt_content">
                                <a target="_blank" rel="nofollow">DUE DILIGENCE en propiedad intelectual</a>
                            </div>
                        </div>
                        
                        
                    </article>
                    <!--===============spacing==============-->
                    <div class="pd_bottom_65"></div>
                    <!--===============spacing==============-->
                </main>
            </div>
            <aside id="secondary" class="widget-area all_side_bar col-lg-4 col-md-12 col-sm-12">
                <div class="service_siderbar side_bar">
                    <!--===============spacing==============-->
                    <div class="pd_top_85"></div>
                    <!--===============spacing==============-->

                    <div class="widgets_grid_box">
                        <div class="widget creote_widget_service_list">
                            <h4 class="widget-title">Acesoria y acompañamiento en </h4>
                            <ul class="service_list_box">
                                <li><a >Registros de marca, lemas comerciales y signos distintivos</a> </li>
                                <li><a >Litigios de propiedad intelectual</a> </li>
                                <li><a >Derechos de autor</a> </li>
                                <li><a >Registro de Patentes</a> </li>
                                <li><a >Consultoría en propiedad industrial, tecnologías y procedimientos</a> </li>

                            </ul>
                        </div>
                    </div>

                    <div class="widgets_grid_box">
                        <div class="brouchure_box_widget">

                            <div class="widget_content">
                                <h3>Solicite un abogado </h3>
                                <div class="color_white_1 clearfix">
                                    <a href="#" class="theme-btn color_white_1 one">Abogado en linea</a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!--===============spacing==============-->
                    <div class="pd_bottom_65"></div>
                    <!--===============spacing==============-->
                </div>
            </aside>
        </div>
    </div>

</div>