.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 46px;
    width: 46px;
    height: 46px;
    z-index: 1;
    background-color: #25D366;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: background-color 0.3s;
}

.whatsapp-button:hover {
    background-color: #1EBE54;
}

.whatsapp-button svg {
    fill: white;
    width: 50%;
    height: 50%;
}