<div class="page_header_default style_one ">
    <div class="parallax_cover">
        <div class="simpleParallax"><img src="assets/legales/images/empresarial.jpg" alt="bg_image"
                class="cover-parallax"></div>
    </div>
    <div class="page_header_content">
        <div class="auto-container">
            <div class="row">
                <div class="col-md-12">
                    <div class="banner_title_inner">
                        <div class="title_page">
                            Legales especialistas en
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="breadcrumbs creote">
                        <ul class="breadcrumb m-auto">
                            <li><a href="">Inicio</a></li>
                            <li class="active">Derecho civil</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!----header----->
<!----page-CONTENT----->
<div id="content" class="site-content ">
    <div class="auto-container">
        <div class="row default_row">
            <div id="primary" class="content-area service col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <main id="main" class="site-main" role="main">
                    <!--===============spacing==============-->
                    <div class="pd_top_85"></div>
                    <!--===============spacing==============-->
                    <article class="clearfix service type-service status-publish has-post-thumbnail hentry">
                        <div class="title_all_box style_one dark_color">
                            <div class="title_sections left">
                                <div class="before_title">Asesoria Legal</div>
                                <div class="title">¿Abogados litigantes en derecho Civil en Medellín?</div>
                                <p>En primer término, nuestra firma Abogados Civilistas con experiencia, se esmera en brindar el mejor servicio de asesoría, consultoría y acompañamiento con Abogados en Derecho Civil en Medellín y Antioquia. Por tal circunstancia, contamos con, Juristas con Destreza en solución de Asuntos de índole Procesal, los cuales, le representamos en el área de Del valle de Aburrá. Medellín, Sabaneta, Envigado, Itagüí y demás municipios de Antioquia.
                                </p>
                              <h3>Ofrecemos servicio como Abogado civil en:</h3>
                            </div>
                        </div>
                        <!--===============spacing==============-->
                        <div class="pd_bottom_15"></div>
                      
                        <div class="content_box_cn style_one">
                            <div class="txt_content">
                                <h3><a target="_blank" rel="nofollow"> Consultoría en Derecho civil.</a> </h3>
                            </div>
                            <div class="txt_content">
                                <h3><a target="_blank" rel="nofollow">Derecho inmobiliario.</a></h3>
                            </div>
                            <div class="txt_content">
                                <h3><a target="_blank" rel="nofollow">Estructuración de contratos y Trámites notariales.</a>
                                </h3>
                            </div>
                        </div>
                        <!--===============spacing==============-->
                        <div class="pd_bottom_15"></div>
                        <!--===============spacing==============-->
                        <h4>Qué hace un Abogado
                          Civil y Por qué
                          contratarlo?</h4>
                        <div class="pd_bottom_15"></div>
                        <!--===============spacing==============-->
                        <p>Abogados EN DERECHO CIVIL: Se Encarga de solucionar los problemas que surjan de las personas entre sí en sus diferentes aspectos como son: En Suma, todos los relacionados con las personas mismas, el matrimonio, el divorcio, los bienes de las personas, la propiedad, y formas de adquirir la propiedad ocupación, accesión, prescripción. También, La posesión los modos de adquirir y perder la posesión de los bienes. Los derechos de uso, habitación y servidumbre así: Para terminar, lo relativo a, Patria potestad Alimentos. El parentesco, sus obligaciones, La tutela (protección de los menores) y Curaduría (protección de sus bienes de los menores.) Los contratos celebrados por ellas. La muerte de las personas y la sucesión por causa de la muerte.
                        </p>
                       //faltan preguntas frecuentes aqui //
                    </article>
            
                    <!--===============spacing==============-->
                    <div class="pd_bottom_65"></div>
                    <!--===============spacing==============-->
                </main>
            </div>
         </div>
    </div>

</div>
