<div class="page_header_default style_one ">
    <div class="parallax_cover">
        <div class="simpleParallax"><img src="assets/legales/images/empresarial.jpg" alt="bg_image"
                class="cover-parallax"></div>
    </div>
    <div class="page_header_content">
        <div class="auto-container">
            <div class="row">
                <div class="col-md-12">
                    <div class="banner_title_inner">
                        <div class="title_page">
                            Legales especialistas en
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="breadcrumbs creote">
                        <ul class="breadcrumb m-auto">
                            <li><a href="">Inicio</a></li>
                            <li class="active">Derecho penal</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!----header----->
<!----page-CONTENT----->
<div id="content" class="site-content ">
    <div class="auto-container">
        <div class="row default_row">
            <div id="primary" class="content-area service col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <main id="main" class="site-main" role="main">
                    <!--===============spacing==============-->
                    <div class="pd_top_85"></div>
                    <!--===============spacing==============-->
                    <article class="clearfix service type-service status-publish has-post-thumbnail hentry">
                        <div class="title_all_box style_one dark_color">
                            <div class="title_sections left">
                                <div class="before_title">Legal.com.co</div>
                                <div class="title">Derecho Penal Corporativo</div>
                                
                              <p>En LEGALES, ofrecemos asesoría en derecho penal empresarial, brindando un acompañamiento constante a las empresas en los casos delictuales más frecuentes que afectan su desarrollo. Entendemos que en las operaciones diarias de una empresa existe la posibilidad de que se cometan delitos que perjudiquen los intereses de la compañía y sus accionistas. Por esta razón, estamos comprometidos en brindar orientación legal en asuntos penales a las empresas</p>
                            </div>
                        </div>
                        <h3>EN derecho penal coorporativo ofrecemos los siguientes servicios:</h3>
                        <!--===============spacing==============-->
                        <div class="pd_bottom_15"></div>
                        <!--===============spacing==============-->
                      <h3>Asesorías y representación como denunciante o denunciado</h3>
                      <p>Nuestro equipo calificado de Abogados expertos en derecho penal brinda asesoría personalizada para cada caso presentado en el despacho. Atendemos a los clientes de forma específica, ya que ninguna solicitud es igual y las herramientas legales para solucionar el inconveniente siempre son diferentes.

                                       Como Abogados especialistas en derecho penal realizamos un análisis detallado de la situación y luego del estudio, decidimos cuál es el plan para defender al cliente, bien sea que se trate del denunciado o denunciante. Nuestra meta es solucionar el problema legal y mediar entre las partes para que los resultados sean los esperados. Como profesionales comprometidos, nos concentramos en defender los derechos del cliente, indistintamente de su condición ante la ley.
                      </p>
                      <h3>Delitos</h3>
                      <p>Entre los diferentes tipos de delitos que atendemos en nuestra firma de Abogados Legales, especializados en derecho penal se encuentran los siguientes:</p>

                        <div class="content_box_cn style_one">
                            <div class="txt_content">
                                <h3><a target="_blank" rel="nofollow"> Abuso de confianza</a> </h3>
                            </div>
                            <div class="txt_content">
                                <h3><a target="_blank" rel="nofollow">Emisión o transferencia ilegal de cheques.</a></h3>
                            </div>
                            <div class="txt_content">
                                <h3><a target="_blank" rel="nofollow">Utilización indebida de información privilegiada (know how)</a>
                                </h3>
                            </div>
                            <div class="txt_content">
                                <h3><a target="_blank" rel="nofollow"> Usurpación de tierras</a></h3>
                            </div>
                            <div class="txt_content">
                                <h3><a target="_blank" rel="nofollow"> Violación a los derechos morales de autor</a></h3>
                            </div>
                           <div class="txt_content">
                                <h3><a target="_blank" rel="nofollow">Alteración de cantidad, calidad, peso o medida de producto</a></h3>
                            </div>
                           <div class="txt_content">
                                <h3><a target="_blank" rel="nofollow"> Ofrecimiento engañoso de productos y servicios</a></h3>
                            </div>
                           <div class="txt_content">
                                <h3><a target="_blank" rel="nofollow">Usurpación de marcas y patentes</a></h3>
                            </div>
                           <div class="txt_content">
                                <h3><a target="_blank" rel="nofollow"> Imitación o simulación de alimentos, productos o sustancias</a></h3>
                            </div>
                           <div class="txt_content">
                                <h3><a target="_blank" rel="nofollow">Violación de reserva industrial y comercial por ocasión del cargo dentro de una empresa (know how)r</a></h3>
                            </div>
                           <div class="txt_content">
                                <h3><a target="_blank" rel="nofollow"> Violación a los derechos morales de autor</a></h3>
                            </div>
                           <div class="txt_content">
                                <h3><a target="_blank" rel="nofollow"> Ejercicio ilícito de actividad monopolística</a></h3>
                            </div>
                           <div class="txt_content">
                                <h3><a target="_blank" rel="nofollow"> Delitos contra el sistema financiero</a></h3>
                            </div>
                           <div class="txt_content">
                                <h3><a target="_blank" rel="nofollow"> Lavado de activos</a></h3>
                            </div>
                           <div class="txt_content">
                                <h3><a target="_blank" rel="nofollow"> Apoderamiento de hidrocarburos</a></h3>
                            </div>
                           <div class="txt_content">
                                <h3><a target="_blank" rel="nofollow"> Daños a los recursos naturales</a></h3>
                            </div>
                           <div class="txt_content">
                                <h3><a target="_blank" rel="nofollow"> Contaminación ambiental</a></h3>
                            </div>
                          <div class="txt_content">
                                <h3><a target="_blank" rel="nofollow"> Pesca ilegal</a></h3>
                            </div>
                          <div class="txt_content">
                                <h3><a target="_blank" rel="nofollow"> Explotación ilícita minera</a></h3>
                            </div>

                        </div>
                        <!--===============spacing==============-->
                        <div class="pd_bottom_15"></div>
                        <!--===============spacing==============-->
                        <h4>Casos comúnes</h4>
                        <div class="pd_bottom_15"></div>
                        <!--===============spacing==============-->
                        <p>Los casos más comunes que atendemos en nuestro despacho de derecho penal son:
                        </p>
                        <div class="pd_bottom_25"></div>
                     <div class="content_box_cn style_one">

                        <div class="txt_content">
                            <h3><a target="_blank" rel="nofollow"> Representación en investigación o indagación preliminar a cargo de la Fiscalía</a></h3>
                        </div>
                        <div class="txt_content">
                            <h3><a target="_blank" rel="nofollow"> Representación en programa metodológico</a></h3>
                        </div>
                        <div class="txt_content">
                            <h3><a target="_blank" rel="nofollow"> Radicación o presentación de denuncia</a></h3>
                        </div>
                        <div class="txt_content">
                            <h3><a target="_blank" rel="nofollow"> Representación en medidas de aseguramiento, legalización de captura e imputación</a></h3>
                        </div>
                        <div class="txt_content">
                            <h3><a target="_blank" rel="nofollow"> Representación en audiencia de acusación</a></h3>
                        </div>
                    </div>
                        <div class="pd_bottom_25"></div>
                      <h3>Representaciones</h3>
                      <div class="pd_bottom_25"></div>
                      <p>Representación y Asesoría en Todas las Etapas del Proceso Judicial Penal <br>
                                        En LEGALES, estamos comprometemos a cumplir los objetivos legales de nuestros clientes. Nuestro equipo de Abogados expertos en derecho penal tiene amplia experiencia y se encarga de manejar los trámites legales de manera eficiente y sin causar inconvenientes adicionales. Ofrecemos representación y asesoría legal personalizada, tomando decisiones adecuadas en cada etapa del caso.
                                       </p>

                    </article>
            
                    <!--===============spacing==============-->
                    <div class="pd_bottom_65"></div>
                    <!--===============spacing==============-->
                </main>
            </div>
         </div>
    </div>

</div>
