<div class="page_header_default style_one ">
    <div class="parallax_cover">
        <div class="simpleParallax"><img src="assets/legales/images/empresarial.jpg" alt="bg_image"
                class="cover-parallax"></div>
    </div>
    <div class="page_header_content">
        <div class="auto-container">
            <div class="row">
                <div class="col-md-12">
                    <div class="banner_title_inner">
                        <div class="title_page">
                           Firma de Abogados Legales.com.co especialistas en
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="breadcrumbs creote">
                        <ul class="breadcrumb m-auto">
                            <li><a (click)="global.setRoute('home')">Inicio</a></li>
                            <li class="active">Casa de Cobranza</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!----header----->
<!----page-CONTENT----->
<div id="content" class="site-content ">
    <div class="auto-container">
        <div class="row default_row">
            <div id="primary" class="content-area service col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <main id="main" class="site-main" role="main">
                    <!--===============spacing==============-->
                    <div class="pd_top_85"></div>
                    <!--===============spacing==============-->
                    <article class="clearfix service type-service status-publish has-post-thumbnail hentry">
                        <div class="title_all_box style_one dark_color">
                            <div class="title_sections left">
                                <div class="before_title">
                                    Gestión de Cartera Pre jurídica</div>
                                <div class="title">Casa de Cobranza</div>
                                <p>Nos proponemos a través de estrategias persuasivas y conciliatorias obtener la recuperación del dinero adeudado a nuestros clientes que se traduzcan en compromisos de pago efectivos, para lo cual realizamos: 
                                </p>
                                <ul>
                                  <li rel="nofollow"> Estudio y análisis de inmuebles</li> 
                                  <li rel="nofollow"> Vehículos </li>
                                  <li rel="nofollow"> Información financiera</li>
                                  <li rel="nofollow"> Información laboral</li>
                                  <li rel="nofollow"> Segmentación, Localización, Notificación y seguimiento</li>
                                  <li rel="nofollow"> Certificación de castigo de cartera </li>
                                  <li rel="nofollow"> Cobro de cartera en etapa pre jurídica, jurídica y extrajurídica.</li>
                                </ul>
                                <p>A través de nuestros abogados especializados se realiza la presentación de demandas ejecutivas con el fin de obtener la recuperación del dinero por vía judicial.</p>
                                <p>Ofrecemos resultados exitosos en procesos legales y recuperación de carteras con diversos niveles de morosidad, respaldados con experiencia y compromiso. 
                                    Especializados en deudores dificiles de localizar, empresas con solvencia economica limitada y microempresarios con restricciones
                                    de flujo de efectivo.</p>
                              
                            </div>
                        </div>
                        <!--===============spacing==============-->
                        <div class="pd_bottom_15"></div>
                      
                    </article>
                    <section class="service_section bg_light_1" id="service">
                        <!--===============spacing==============-->
                        <div class="pd_top_80"></div>
                        <!--===============spacing==============-->
                        <div class="container">
                            <div class="row">
                                <div class="title_all_box style_one text-center dark_color">
                                    <div class="title_sections">
                                        <h2>Contamos con</h2>
                                    </div>
                                </div>
                                <!--===============spacing==============-->
                                <div class="pd_bottom_20"></div>
                                <!--===============spacing==============-->
                                <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                    <div class="service_box style_two dark_color">
                                        <div class="service_content_two ">
                                            <div class="content_inner"
                                                style="background-image:url(assets/legales/images/service/service-image-3.png);">
                                                <div class="content_inner_in">
                                                    <div class="icon_image">
                                                        <img src="assets/legales/images/soporte2.png" class="img-fluid"
                                                            alt="Service Image" />
                                                    </div>
                                                    <h2>
                                                        <a >Call Center Especializado     </a>
                                                    </h2>
                                                   </div>
                                            </div>
                                           
                                            <div class="overlay_content" style=" max-height: 100%; overflow-y: auto;">
                                                <h2>
                                                    <a >Call Center Especializado </a>
                                                </h2>
                                                <p >Contamos con gestores de negociación plenamente capacitados
                                                     y con experiencia en recaudo, realizamos envío de cartas de cobro personal de Ubicación, Localización, mensajes de texto, correo electrónicos, citaciones a nuestras instalaciones, negociaciones mediante visitas programadas y contacto directo con el titular, entre otras.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--===============spacing==============-->
                                    <div class="mr_bottom_20"></div>
                                    <!--===============spacing==============-->
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                    <div class="service_box style_two dark_color">
                                        <div class="service_content_two ">
                                            <div class="content_inner"
                                                style="background-image:url(assets/legales/images/service/service-image-3.png);">
                                                <div class="content_inner_in">
                                                    <div class="icon_image">
                                                        <img src="assets/legales/images/gestores.png" class="img-fluid"
                                                            alt="Service Image" />
                                                    </div>
                                                    <h2>
                                                        <a >Gestores negocios</a>
                                                    </h2>
                                                   </div>
                                            </div>
                                           
                                            <div class="overlay_content">
                                                <h2>
                                                    <a >Gestores negocios</a>
                                                </h2>
                                                <p> Profesionales especializados y con gran capacidad en el manejo y cierre de negociaciones para generar el mayor recaudo en el menor tiempo posible </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--===============spacing==============-->
                                    <div class="mr_bottom_20"></div>
                                    <!--===============spacing==============-->
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                    <div class="service_box style_two dark_color">
                                        <div class="service_content_two ">
                                            <div class="content_inner"
                                                style="background-image:url(assets/legales/images/service/service-image-3.png);">
                                                <div class="content_inner_in">
                                                    <div class="icon_image">
                                                        <img src="assets/legales/images/localizadores.png" class="img-fluid"
                                                            alt="Service Image" />
                                                    </div>
                                                    <h2>
                                                        <a >Gestores localizadores</a>
                                                    </h2>
                                                   </div>
                                            </div>
                                           
                                            <div class="overlay_content">
                                                <h2>
                                                    <a >Gestores localizadores</a>
                                                </h2>
                                                <p> Encargados de gestionar la ubicación de deudores y codeudores en bases de datos propias, data crédito, en información suministrada en medidas cautelares y procesos de notificación así como a través de terceros conocidos de los deudores</p>

                                            </div>
                                        </div>
                                    </div>
                                    <!--===============spacing==============-->
                                    <div class="mr_bottom_20"></div>
                                    <!--===============spacing==============-->
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                    <div class="service_box style_two dark_color">
                                        <div class="service_content_two ">
                                            <div class="content_inner"
                                                style="background-image:url(assets/legales/images/service/service-image-3.png);">
                                                <div class="content_inner_in">
                                                    <div class="icon_image">
                                                        <img src="assets/legales/images/software.png" class="img-fluid"
                                                            alt="Service Image" />
                                                    </div>
                                                    <h2>
                                                        <a >Software Especializado</a>
                                                    </h2>
                                                   </div>
                                            </div>
                                           
                                            <div class="overlay_content">
                                               <!--  <h2>
                                                    <a >Software Especializado</a>
                                                </h2> -->
                                                <p> 
                                                    Disponemos de un Software moderno, pensado en la satisfacción de nuestros clientes. Optimizamos el proceso jurídico y de recaudo permitiendo coordinar el trabajo simultáneo de todos nuestros colaboradores y así garantizar información al día y actualizada de cada uno de sus procesos.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--===============spacing==============-->
                                    <div class="mr_bottom_20"></div>
                                    <!--===============spacing==============-->
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                    <div class="service_box style_two dark_color">
                                        <div class="service_content_two ">
                                            <div class="content_inner"
                                                style="background-image:url(assets/legales/images/service/service-image-3.png);">
                                                <div class="content_inner_in">
                                                    <div class="icon_image">
                                                        <img src="assets/legales/images/localizacion.png" class="img-fluid"
                                                            alt="Service Image" />
                                                    </div>
                                                    <h2>
                                                        <a >Cobertura Geográfica en todo el territorio nacional.</a>
                                                    </h2>
                                                   </div>
                                            </div>
                                           
                                            <div class="overlay_content">
                                                <h2>
                                                    <a >Cobertura Geográfica en todo el territorio nacional.</a>
                                                </h2>
                                                <p>Nuestro equipo especialista de gestores, con más de 6 años de experiencia, se dedica a establecer contactos
                                                    persuasivos con los deudores para recuperar la cartera mediante acuerdos de pago o procesos judiciales a nivel nacional.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--===============spacing==============-->
                                    <div class="mr_bottom_20"></div>
                                    <!--===============spacing==============-->
                                </div>
                            </div>
                        </div>
                        <!--===============spacing==============-->
                        <div class="pd_bottom_70"></div>
                        <!--===============spacing==============-->
                    </section>
                </main>
            </div>
         </div>
    </div>

</div>
